
body {
  background-color: lightgray;
}


.box-set {
  position: relative;
}

.box {
  position: fixed;
  /* border: 2px solid turquoise;
  padding: 50px 30px 50px 30px;  */

}

.box-summary {
  top:15%;
  left: 3%;
  right: 40%;
  background-color: white;
  padding: 50px 30px 50px 30px; 
}

.box-visualization {
  top:15%;
  right: 3%;
  left: 63%;
  background-color: white;
  padding: 50px 30px 50px 30px; 
}

h2 {
  /* font-family: auto; */
  color: lightseagreen;
  font-weight: bold;
}

h3 {
  /* font-family: initial; */
  color: lightseagreen;
  font-weight: bold;
}

/* .landingsummary {
  top: 15%;
  left: 10%;
  padding: 50px 30px 50px 30px; 
  /* margin:  50px 10px 10px 10px; */
  /* background-color: white;
  position: fixed;
  left: 50px;
}

.landingvisuals {
  top: 15%;
  right: 10%;
  padding: 50px 30px 50px 30px;  */
  /* margin:  50px 10px 10px 10px; */
  /* background-color: white;
  position: fixed;
  right: 50px;
} */ 

.navbar-brand {
  background-color: lightseagreen;
  padding: 10px 10px 10px 10px;
  z-index: 10;
}

.navbar-light .navbar-brand {
  color: white;
}

.nav-bg-small{
  background-color: white;
}

.collapse {
  z-index: 10;
  background-color: white;
}


.latitude-nav {
  /* font-family: auto; */
  font-weight: bold;
}


#floatleft {
  float: left;
}




@media (max-width: 990px) {
  .box-summary {
    top:15%;
    left: 3%;
    right: 3%;
    background-color: white;
    padding: 50px 30px 50px 30px; 
  }
  
  .box-visualization {
    top:62%;
    right: 3%;
    left: 3%;
    background-color: white;
    padding: 50px 30px 50px 30px; 
  }

  .nav-bg-small{
    background-color: lightseagreen;
  }
  
}

@media (max-width: 400px) {
  .box-summary {
    top: 13%;
    left: 3%;
    right: 3%;
    background-color: white;
    /* padding: 50px 30px 50px 30px;  */
  }
  
  .box-visualization {
    top:75%;
    right: 3%;
    left: 3%;
    background-color: white;
    /* padding: 50px 30px 50px 30px;  */
  }

  .nav-bg-small{
    background-color: lightseagreen;
  }
  

}


/* 

navbar {
  background-color: lightseagreen;
}

p {
  font-size: 20px;
}





floatright {
  float: right;
}
 */



/* .a {
  background-color: lightseagreen;
  color: white;
}

 */


/* .box {
  height: 400px;
  padding: 20px;
  color: #fff;
  background: gray;
}

.margin-top-80 {
  margin-top: 80px;
}
 */
